@{
    ViewData["Title"] = "Our Mission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .rounded-circle {
        border-radius: 0% !important;
    }

    .img-fluid {
        max-width: 75%;
        min-width: 75%;
        min-height: 250px;
        max-height: 300px;
        border-radius:0;
    }
</style>
<section class="bg-light py-5 py-xl-8">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                <h2 class="fs-6 text-secondary mb-2 text-uppercase text-center">Our Mission</h2>
                <p class="display-5 mb-1 mb-md-1 fs-5 text-center">Committed to academic excellence, holistic development, and empowering students to excel in every field.</p>
       
            </div>
        </div>
    </div>
    <div class="container overflow-hidden">
        <div class="row gy-4 gy-md-0 gx-xxl-5">
            <div class="col-12 ">
                <div class="card border-0 border-bottom border-primary shadow-sm">
                    <div class="card-body p-4 p-xxl-5">
                        <figure>
                            <div class="d-flex justify-content-center">
                                <img class="img-fluid rounded rounded-circle mb-4 border border-5 col-md-9 col-lg-9 col-sm-6" loading="lazy" 
                                src="~/Images/Ourmission/mission.jpeg" alt="Luke Reeves">
                            </div>
                            <figcaption>
                                <div class="bsb-ratings text-warning mb-3" data-bsb-star="5" data-bsb-star-off="0"></div>
                                <blockquote class="bsb-blockquote-icon mb-4">
                                    Our mission is to inspire and empower students through a diverse range of subjects, including Mathematics, Physics, Chemistry, English, Hindi, Social Science, Sanskrit, and more. We are dedicated to fostering critical thinking, creativity, and a deep understanding of the world around us. By providing a rich academic environment, we aim to cultivate curiosity, encourage intellectual growth, and develop well-rounded individuals equipped with the knowledge and skills to succeed in an ever-changing world.
                                </blockquote>
                                <h4 class="mb-2">Shivakant Shukla</h4>
                                <h5 class="fs-6 text-secondary mb-0">Math & Physics</h5>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>